<%= "<div style='color: green'>#{flash[:notice]}</div>" if flash[:notice] %>

<h2>Examples</h2>
<%= link_to 'Simple User Signup', :controller=>'signup' %><br/>
<%= link_to 'Wizard for STI Model', :controller=>'contributor' %><br/>
